/* importações */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap');

/* variaveis */
:root{
    --cor-primaria:	#1C1C1C;
}
/* padrão */
*{
    margin:0;
    padding:0;
    bottom:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
/* header do site */
header{
    background-color:var(--cor-primaria);
    height:12vh;
    width:100%;
    border-color: #1C1C1C solid;
}
/* barra de menu */
.barra{
    margin-left:3vw;
    margin-top:1vh;
    max-width:60px;
    transition:0.3s all;
}
/* titulo da pagina h1 */
h1{
    font-size:2.0rem;
    font-weight:bold;
    text-align:center;
    color:white;
    margin-top:-9vh;
    transition:0.3s all;
}
/* icones a esquerda do menu */
.menu{
    margin-top:-6vh;
    margin-right:3vw;
    display:flex;
    justify-content:right;
}
.foto1{
    margin-left:20vw;
    padding:0px;
    max-width:45px;
    transition:0.3s all;
}
.foto2{
    margin-left:2.5vw;
    padding:0px;
    max-width:45px;
    transition:0.3s all;
}
/* nav */
nav{
    background-color:#1C1C1C;
    height:100%;
    width:0px;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    overflow: hidden;
    transition:width 0.3s;
}
nav a{
    padding:12px 10px 12px 32px;
    display:block;
    font-size:1.5rem;
    color:white;
    text-decoration:none;
    transition:0.3s all;
}
/* main */
.contanier{
    margin-right:5vw;
    margin-left:5vw;
    margin-top:10vh;
    display:flex;
    justify-content:space-between;

}
/* box-1 */
.box1 img{
    transition:0.3s all;
    max-width:300px;
}
.box1 h2{
    font-size:1.5rem;
    margin-top:2vh;
    text-align:center;
}
.box1 p{
    font-weight:bold;
    font-size:1.0rem;
    text-align:center;
    margin-top:1vh;
    
}
/* box-2 */
.box2 img{
    max-width:300px;
    transition:0.3s all;
}
.box2 h3{
    font-size:1.5rem;
    margin-top:2vh;
    text-align:center;
}
.box2 p{
    font-weight:bold;
    font-size:1.0rem;
    text-align:center;
    margin-top:1vh;
}
/* box-3 */
.box3 img{
    max-width:300px;
    transition:0.3s all;
}
.box3 h4{
    font-size:1.5rem;
    margin-top:2vh;
    text-align:center;
}
.box3 p{
    font-weight:bold;
    font-size:1.0rem;
    text-align:center;
    margin-top:1vh;
}
/* footer */
footer{
    background-color:var(--cor-primaria);
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:120vh;
    height:40vh;
    width:100%;
    color:white;
}
/* contenier do footer */
.footer{
    display:flex;
    justify-content:space-between;
    margin-top:12vh;
}
/* caixa 1 */
.caixa-1{
    margin-left:4vw;
   
}
.caixa-1 h3{
    margin-top:-7vh;
    font-size:2.5rem;
}
.caixa-1 p{
    font-weight:bold;
    font-size:1.2rem;
    margin-top:3vh;
}
/* caixa 2 */
.caixa-2{
    margin-top:1vw;
}
.caixa-2 h4{
    font-size:1.9rem;
}
.caixa-2 p{
    margin-top:2vh;
    font-weight:bold;
    font-size:0.96rem;
}
/* caixa 3 */
.caixa-3{
    margin-right:4vw;
    margin-top:2vh;
}
.caixa-3 h5{
    font-size:1.9rem;
    transition:0.3s all;
}
.caixa-3 p{
    font-weight:bold;
    font-size:0.96rem;
    margin-top:2vh;
}
/* caixa 4 */
.caixa-4{
    margin-top:0vh;
    margin-right:8vw;
}
.caixa-4 h6{
    font-size:1.9rem;
    margin:16px;
}
.caixa-4 i{
    margin-left:3vw;
    font-size:3.0rem;
}
/* houver do site */
h1:hover{
    font-size:2.5rem;
}
/* icones do menu */
.barra:hover{
    max-width:70px;
}
.menu img:hover{
    max-width:50px;
}
/* hover do header */
.box1 img:hover{
    max-width:310px;
    border-radius:10px;
}
.box2 img:hover{
    max-width:310px;
    border-radius:10px;
}
.box3 img:hover{
    max-width:310px;
    border-radius:10px;
}
/* footer */
.caixa-1 h3{
    font-size:2.6rem;
}
nav a:hover{
    background-color:#302e2e;
    margin-left:1vw;
}

/* media querry do site resposivar */