/* importaçõs */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap');
/* variaveis */
:root{
    --font-default: 'Poppins', sans-serif;
    --cor-primaria:	#1C1C1C;
    --cor-secundaria:#DEB887;
}
/* default */
*{
    margin:0;
    left: 0;
    bottom:0;
    box-sizing:border-box;
    color:black;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image:linear-gradient(rgba(0,0,0,.59),rgba(0,0,0,0.59)),url(/assets/fundologin.jpg);
    background-size:cover;
    background-position:center;
}
/* div do quadro central */
.cotanier{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:13vh;
    margin-left:10vw;
    border-radius:12px;
    width:26vw;
    height:80vh;
    background-color:var(--cor-primaria);
}
/* titulo do login */
 h1{
    color:var(--cor-secundaria);
    margin-top:-6vh;
    font-weight:bold;
    font-size: 3.0rem;
    text-align:center;
}
/* redes Socias */
.redes-socias{
    font-size:1.6rem;
    margin-left:-3vw;
    margin-top:3vh;  
}
.redes-socias i{
    color:var(--cor-secundaria);
    padding:4px;
}
/* input dos formularios */
.formulario form{
    margin-top:-20px;
}
.formulario label{
    display:flex;
    flex-direction:column;
}
.formulario label span{
    font-size:1.1rem;
    margin-top:2rem;
}
.formulario span{
    color:var(--cor-secundaria);
    font-weight:bold;
}
.global{
    width:20vw;
    height:6vh;
    margin-top:0.6rem;
    color:white;
    font-size:1rem;
    border-radius:8px;
    border:none;
    background-color: #363535;
}
/* botão de houver */
.botao{
    display:flex;
    justify-content:center;
    margin-top:4vh;   
}
.botao button{
    font-family:'Poppins', sans-serif;
    font-weight:bold;
    border-radius:30px;
    font-size:0.94rem;
    color:white;
    width:9vw;
    height:7vh;
    border:none;
    background-color:#363535;
}
.botao button:last-child{
    margin-left:2vw;
}
